{% extends "_layout.html" %}

{% block body %}
{% from "Common/_formhelpers.html" import render_field, render_form_errors %}

{% if form.errors %}
    <div class="alert alert-danger">
        <h4>Error!</h4>
        {{ render_form_errors(form) }}
    </div>
{% endif %}

<div class="well login-well">
<form method=post class="form-horizontal">
    <fieldset>
        <legend>Form</legend>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ render_field(form.Username) }}
        </div>
        <div class="form-group">
            {{ render_field(form.Password) }}
        </div>
        <div class="form-group">
            {{ render_field(form.RememberMe) }}
        </div>
        <div class="form-group">
            <div class="col-lg-11 col-lg-offset-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>

</form>
</div>

{% endblock %}